.form {
  max-width: 480px;
  padding: 48px;
}

.form input {
  padding: 14px;
  width: 100%;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: $border-color;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 10px;

  @media (max-width: $mobile-width) {
    padding: 18px;
  }
}

.form input[error] {
  border-color: $border-color-error;
}

.form input:active {
  border-color: $border-color-active;
}

// .form__button {
// }
