.form {
  max-width: 480px;
  padding: 48px;
}

.form input {
  padding: 14px;
  border-radius: 30px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: $border-color;
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.form input[error] {
  border-color: $border-color-error;
}

.form input:active {
  border-color: $border-color-active;
}

.form__button {
}

