.programs {
  @include adaptive-block;
  padding: 0 200px;
}

.programs__btns {
  display: flex;
  flex-direction: column;
}

.programs__item {
  display: none;
}

.programs__list {
  @include list-reset;
}

.programs__item--shown {
  display: block;
}
