html {
  scroll-behavior: smooth;
}

img {
  height: auto;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  color: $font-color-black;
  background-color: $bg-color-document;
}
